@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  h1 {
    font-size: 1rem;
  }
}

/*  Tablets in portrait mode, large display smartphones landscape mode */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 1rem;
  }
}

/*  Smartphones in landscape mode */

@media only screen and (min-width: 421px) and (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }
}

/*  Smartphones in portrait mode  */

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 1rem;
  }
  #gucci {
    font-size: 11rem;
  }
}
